body {
    background-color: #3B4752;
}

/* Summernote Editör Stilleri */

#summernote {
    border: 1px solid #ccc; /* Kenarlık ekler */
    border-radius: 5px; /* Köşeleri yuvarlatır */
    box-shadow: 0 2px 4px rgba(56, 208, 61, 0.1); /* Gölgelendirme ekler */
}

.note-editor {
    border-radius: 5px; /* Summernote editörünün köşelerini yuvarlatır */
}

.note-toolbar {
    background-color: #2F373E; /* Araç çubuğunun arka plan rengini ayarlar */
    border-bottom: 1px solid #e9ecef; /* Araç çubuğunun altına kenarlık ekler */
    
}

.note-editable {
    padding: 15px; /* Metin yazma alanına iç boşluk ekler */
    line-height: 1.5; /* Satır yüksekliğini ayarlar */
    font-size: 14px; /* Font boyutunu ayarlar */
}

.note-statusbar {
    background-color: #f8f9fa; /* Durum çubuğunun arka plan rengini ayarlar */
    border-top: 1px solid #e9ecef; /* Durum çubuğunun üstüne kenarlık ekler */
}

/* Özel Buton Stili */
.button {
    background-color: #FF571A; /* Butonun arka plan rengini ayarlar */
    color: white; /* Butonun yazı rengini ayarlar */
    border: none; /* Butonun kenarlıklarını kaldırır */
    padding: 3px 20px; /* İç boşluk ekler */
    border-radius: 5px; /* Köşeleri yuvarlatır */
    margin-left: 380px;
    margin-top: 10px;
    cursor: pointer; /* İmleci pointer olarak ayarlar */
    transition: background-color 0.3s ease; /* Renk değişimi animasyonu ekler */
}

.button:hover {
    background-color: #fb875c; /* Butonun üzerine gelindiğinde arka plan rengini değiştirir */
}

/* Diğer Stiller */
.container {
    max-width: 800px; /* Konteynerin maksimum genişliğini sınırlar */
    min-height: 450px; 
    margin: 20px auto; /* Otomatik marj ile ortalar */
    padding: 20px; /* İç boşluk ekler */
    background-color: #fff; /* Arka plan rengini beyaz yapar */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Konteyner için gölge ekler */
    border-radius: 8px; /* Konteynerin köşelerini yuvarlatır */
    margin-top: 110px;
   
}
.title-label {
    display: block; /* Etiketi yeni bir satıra alır */
    margin-bottom: 5px; /* Etiket ile giriş alanı arasında boşluk ekler */
    color: #333; /* Etiketin rengini değiştirir */
    font-size: 16px; /* Font boyutunu ayarlar */
}

.title-input {
    display: block; /* Giriş alanını yeni bir satıra alır */
    width: 100%; /* Giriş alanının genişliğini konteynere uyarlar */
    padding: 8px; /* Giriş alanına iç boşluk ekler */
    margin-bottom: 20px; /* Giriş alanı altındaki diğer elementlerden boşluk ekler */
    border: 1px solid #ccc; /* Giriş alanına kenarlık ekler */
    border-radius: 4px; /* Kenarları yuvarlak yapar */
}
