* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3B4752;
    font-family: 'Source Sans Pro', sans-serif;
    color: #F7F7F7;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #2F373E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    color: #FF571A;
    font-size: 26px;
    font-weight: 700;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #3B4752;
    border-radius: 8px;
    padding: 10px;
    width: 440px;
}

.search-bar input {
    width: 100%;
    background: none;
    border: none;
    color: #858EAD;
    font-size: 14px;
}

.search-bar .search-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #858EAD;
    position: relative;
}

.search-bar .search-icon::after {
    content: '';
    width: 4px;
    height: 4px;
    border: 2px solid #858EAD;
    position: absolute;
    top: 15.5px;
    left: 14.5px;
}

.header-buttons button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.81);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.header-buttons .register-button {
    background-color: #F48023;
    color: white;
}

.content {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu, .tags, .pinned-groups {
    background-color: #262D34;
    border-radius: 16px;
    padding: 20px;
}

.menu-item, .tag-item, .group-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 0;
}

.menu-icon, .tag-icon, .group-icon {
    width: 20px;
    height: 20px;
    background-color: #2C353D;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-icon {
    background-color: #EEA956;
}

.popular-icon {
    background-color: #FF6934;
}

.following-icon {
    position: relative;
}

.following-count {
    background-color: #FF6934;
    color: white;
    border-radius: 2px;
    padding: 3px 6px;
    font-size: 9px;
    position: absolute;
    top: -6px;
    right: -6px;
}

.menu-title, .tag-title, .group-title {
    font-size: 12px;
    font-weight: 600;
}

.menu-subtitle, .tag-subtitle, .group-subtitle {
    font-size: 9px;
    color: #97989D;
}

.section-title {
    font-size: 16px;
    font-weight: 600;
}

.main-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: #262D34;
    border-radius: 16px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.post-image {
    width: 156px;
    height: 156px;
    border-radius: 16px;
    border: 1px solid rgba(43, 0, 212, 0.10);
    box-shadow: 0px 2px 6px rgba(43, 0, 212, 0.06);
}

.post-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-title {
    font-size: 18px;
    font-weight: 600;
}

.post-tags {
    display: flex;
    gap: 10px;
}

.post-tag {
    background-color: #2C353D;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 10px;
    color: #C5D0E6;
    font-weight: 600;
}

.post-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F0F1FE;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.author-name {
    font-size: 14px;
    font-weight: 600;
}

.author-time {
    font-size: 10px;
    color: #C5D0E6;
}

.post-stats {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.post-views, .post-likes, .post-comments {
    font-size: 14px;
    color: #C5D0E6;
}

.post-actions {
    align-self: flex-end;
}

.post-action-icon {
    width: 20px;
    height: 18px;
    cursor: pointer;
}
