<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style4.css">
  </head>
  <body>
    <div class="profile">
      <div class="profile-wrapper">
        <div class="profile-edit">
          <div class="user-info">
            <img class="user-icon" src="/static/images/vector-1.png" />
            <div class="input-bg"></div>
          </div>
          <div class="txt-wrapper">Password</div>
          <div class="diiv">Email</div>
          <div class="txt-wrapper-2">Username</div>
          <div class="txt-wrapper-3">About</div>
          <div class="txt-wrapper-4">Name</div>
          <div class="ellips"></div>
          <div class="rect-2"></div>
          <div class="rect-3"></div>
          <div class="rect-4"></div>
          <div class="rect-5"></div>
            <input type="txt-wrapper-5" id="txt-wrapper-5" name="txt-wrapper-5" placeholder="Enter your password" required class="rect-2">
            <input type="txt-wrapper-6" id="txt-wrapper-6" name="txt-wrapper-6" placeholder="Enter your username" required class="rect-4">
            <textarea id="txt-wrapper-7" name="txt-wrapper-7" class="input-bg" placeholder="Tell us something about yourself..." rows="4" cols="50"></textarea>
            <input type="email" id="txt-wrapper-9" name="txt-wrapper-9" placeholder="Enter your email" required class="rect-3" value="{{.Email}}">
          <div class="txt-wrapper-8">Change password</div>
          <!-- <div class="txt-wrapper-9">fatma@gmail.com</div> -->
          <button class="button1"><div class="txt-wrapper-10">Submit</div></button>
          <img class="cont-cont" src="/static/images/content-22-content-edit-pen-write-tool-icon-1.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
